.hello {
    color: red;
}
.container{
  display: grid;
  width:500px;
  height: 500px;
  background-color: aqua;
  grid-template-columns: repeat(2, 1fr);
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
  place-content: center;
}
.gameboard{
  display: grid;
  width:200px;
  height: 200px;
  background-color: pink;
  grid-template-columns: repeat(2, 1fr);
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
  place-content: stretch;
}
.gameboard-item{
  width:90px;
  height:90px;
  background-color: green;
}