.hello {
    color: red;
    text-align: center;
    font-size: 2rem;
}
.main-text{
  font-weight: bold;
}
.hello button{
  margin: 10px 20px;
}
.container{
  display: grid;
  width:500px;
  height: 500px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  place-items: center;
  place-content: center;
  margin: 10px auto;
  font-size: 1.2rem;
  color: black
}
.gameboard{
  display: grid;
  width:200px;
  height: 200px;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  place-items: center;
  place-content: stretch;
  border-style: solid;
  border-width: 2px;
  border-color: black;
}
.gameboard-item{
  width:40px;
  height:40px;
  border-style: solid;
  border-width: 1px;
  box-sizing: border-box;
}
.ship{
  background-color:rgba(1, 150, 1,0.7);
}
.hitf{
  background-color: gray;
}
.player{
  color:rgb(1, 150, 1);
  border-color: rgb(1, 150, 1);
}
.computer{
  color:rgb(134, 2, 2);
  border-color: rgb(134, 2, 2);
}
.hits{
  background-color: rgb(115, 172, 115);
}
.hitsunk{
  background-color: rgb(187, 8, 8);
}
.ship-sunk{
  background-color: gray;
}
.setup-mode{
  background-color: blue;
}
.game-mode{
  background-color: green;
}
.ghost-ship{
  background-color: rgb(72, 72, 255);
}
.ghost-ship-invalid{
  background-color: rgb(243, 77, 105);
}
.ship-display{
  display: grid;
  grid-template-columns: repeat(4, 40px);
  row-gap: 10px;
}
.ship-display-part{
  background-color: rgb(1, 150, 1);
  width:40px;
  height:40px;
  border-style: solid;
  border-width: 2px;
  box-sizing: border-box;
}
.ships-display{
  display: grid;
  grid-template-rows: repeat(4, 40px);
  row-gap:5px
}
.hidden{
  display: none;
}
.sub-text{
  color:gray;
  font-style: italic;
  font-size: .9rem;
}