.hello {
    color: red;
}
.container{
  display: grid;
  width:500px;
  height: 500px;
  background-color: aqua;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  place-items: center;
  place-content: center;
}
.gameboard{
  display: grid;
  width:200px;
  height: 200px;
  background-color: pink;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  place-items: center;
  place-content: stretch;
  border-style: solid;
  border-width: 2px;
  border-color: yellow;
}
.gameboard-item{
  width:40px;
  height:40px;
  border-style: solid;
  border-width: 2px;
  box-sizing: border-box;
}
.ship{
  background-color:brown
}
.hitf{
  background-color: gray;
}
.player{
  color:rgb(9, 247, 9)
}
.computer{
  color:rgb(134, 2, 2)
}
.hits{
  background-color: rgb(115, 172, 115);
}
.hitsunk{
  background-color: rgb(187, 8, 8);
}
.ship-sunk{
  background-color: gray;
}
.setup-mode{
  background-color: blue;
}
.game-mode{
  background-color: green;
}
.ghost-ship{
  background-color: rgb(72, 72, 255);
}
.ghost-ship-invalid{
  background-color: rgb(243, 77, 105);
}